<!DOCTYPE html>
<html lang="en">
<head>
    <title>Happy Birthday Kiddo</title>
    <meta charset="UTF-8">


    <!-- Favicon -->
    <link href="/img/logo_s.png" rel="shortcut icon"/>

    <!-- Google Font -->
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons">


    <!-- Stylesheets -->
    <!-- Stylesheets -->
    	<link rel="stylesheet" href="stylesheets/bootstrap.min.css"/>
    <link rel="stylesheet" href="/stylesheets/material-dashboard.css">



    	<link rel="stylesheet" href="stylesheets/jquery-ui.min.css"/>
    	<link rel="stylesheet" href="stylesheets/owl.carousel.min.css"/>
    	<link rel="stylesheet" href="stylesheets/animate.css"/>
    <link rel="stylesheet" href="stylesheets/visma.css"/>
        <link rel="stylesheet" href="stylesheets/m_responsive.css"/>
    <link rel="stylesheet" href="stylesheets/m_style.css"/>
        <link rel="stylesheet" href="stylesheets/ui.css"/>
        <link rel="stylesheet" href="stylesheets/prettyPhoto.css"/>
        <link rel="stylesheet" href="stylesheets/spinner.css"/>





</head>
<body>
<!-- Page Preloder -->
<div id="preloder">
    <div class="loader"></div>
</div>

<!-- Header section -->
<header id="header" class="header-section">

</header>


<!-- Header section end -->

<!-- Hero section -->
<section class="hero-section">
    <div class="hero-slider owl-carousel">
        <div class="hs-item set-bg" data-setbg="Birthday/banner1.jpeg">
            <div class="container">
                <div class="row">
                    <div class="col-xl-6 col-lg-7 text-white">
                        <span>Happy Birthday</span>
                        <h2>Beautiful</h2>
                        <p> I'm sorry it took a while </p>

                    </div>
                </div>
                <div class="offer-card text-white">
                    <span><i class="material-icons">favorite</i></span>
                </div>
            </div>
        </div>
        <div class="hs-item set-bg" data-setbg="Birthday/banner2.jpeg">
            <div class="container">
                <div class="row">
                    <div class="col-xl-6 col-lg-7 text-white">
                        <span>Your special Day</span>
                        <h2>More on our date</h2>
                        <p>I didnt want to be too mushy here </p>

                    </div>
                </div>
                <div class="offer-card text-white">
                    <span><i class="material-icons">favorite</i></span>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="slide-num-holder" id="snh-1"></div>
    </div>
</section>
<!-- Hero section end -->
<section style="margin-top: 15px" class="top-letest-product-section">
    <div class="container">
        <div class="section-title">
            <h2>HERE'S TO YOU</h2>
        </div>
        <br>
        <br>
        <br>
        <div class="product-slider owl-carousel">
            <div class="product-item">
                <div class="pi-pic">
                    <img src="./Birthday/1.jpeg" alt="">
                    <div class="pi-links">

                    </div>
                </div>
                <div class="pi-text">

                </div>
            </div>
            <div class="product-item">
                <div class="pi-pic">
                    <img src="./Birthday/2.jpeg" alt="">
                    <div class="pi-links">

                    </div>
                </div>
                <div class="pi-text">

                </div>
            </div>
            <div class="product-item">
                <div class="pi-pic">
                    <div class="tag-new">New</div>
                    <img src="./Birthday/3.jpeg" alt="">
                    <div class="pi-links">

                    </div>
                </div>
                <div class="pi-text">

                </div>
            </div>
            <div class="product-item">
                <div class="pi-pic">
                    <img src="./Birthday/4.jpeg" alt="">

                </div>
                <div class="pi-text">

                </div>
            </div>
            <div class="product-item">
                <div class="pi-pic">
                    <img src="./Birthday/5.jpeg" alt="">

                </div>
                <div class="pi-text">

                </div>
            </div>
            <div class="product-item">
                <div class="pi-pic">
                    <img src="./Birthday/6.jpeg" alt="">
                    <div class="pi-links">

                    </div>
                </div>
                <div class="pi-text">

                </div>
            </div>
        </div>
    </div>
</section>
<!-- top slider section -->
<section>
    <div class="container">
        <div class="row">
<!--            <video width="100%" height="100%" controls>-->
<!--                <source src="https://res.cloudinary.com/screenable/video/upload/v1589575809/final2_w5s3xq.mp4" type="video/mp4">-->
<!--                <source src="https://res.cloudinary.com/screenable/video/upload/v1589575753/other_fx9lbg.mp4" type="video/mp4">-->
<!--                Your browser does not support the video tag.-->
<!--            </video>-->

                <div class=""><h3>Happy Birthday from everyone <br>(Hit Play)</h3></div>
                <video width="100%" src="https://res.cloudinary.com/screenable/video/upload/v1589575809/final2_w5s3xq.mp4" controls="controls"></video>
        </div>
            <div class="row">
                <div class=""><h3>Your Weird highlights <br>(hit play)</h3></div>
                <video width="100%" src="https://res.cloudinary.com/screenable/video/upload/v1589575753/other_fx9lbg.mp4" muted autoplay controls="controls"></video>

            </div>
        </div>

</section>
<div class="container">
    <h2 style="color: #c7254e">Here Goes</h2>
    <p>
        Hey kiddo, i've known for a while now that i wouldnt be able to come up with some great message good enough for you cause the truth is
        , nothing is good enough for you (Thats what you get for being perfect).<br>
        Now that you're 21, theres a couple of things you should know: <br>
        1) I lied... i see what guys see in you. You're extremely beautiful, kind, smart, and so many wonderful things
        <br>

        mmppphhh... i guess theres only one thing you should know...i swear, i thought it would be a long list but everything else is
        just different ways of me telling you that. <br>

        You are one of the best people i've ever met and i'm glad you're my friend
        Enjoy your special day, happy birthday and <strong>I MISS YOU</strong>
    </p>
</div>







<!--====== Javascripts & Jquery ======-->
<script src="/js/jquery-3.2.1.min.js"></script>
<script src="/js/popper.min.js"></script>
<script src="/js/perfect-scrollbar.jquery.min.js"></script>
    <script src="/js/bootstrap-material-design.min.js"></script>
    <script src="/js/material-dashboard.js?v=2.1.1" type="text/javascript"></script>

	<script src="js/jquery.slicknav.min.js"></script>
	<script src="js/owl.carousel.min.js"></script>
	<script src="js/jquery.nicescroll.min.js"></script>
	<script src="js/jquery.zoom.min.js"></script>
	<script src="js/jquery-ui.min.js"></script>
<script src="js/slick.min.js"></script>
<!--    <script src="js/templateBuilders/template.js" type="module"></script>-->




<script src="js/main.js"></script>


</body>
</html>