<html lang="en" class="perfect-scrollbar-on">
<head>
    <link rel="stylesheet" href="/stylesheets/datatables.min.css">
    <!--    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">-->
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons">
    <link rel="stylesheet" href="/stylesheets/material-dashboard.css">
    <link rel="stylesheet" href="/stylesheets/slick.css"/>
    <link rel="stylesheet" href="/stylesheets/slick-theme.css"/>


    <link rel="stylesheet" href="/stylesheets/visma.css">

</head>
<header>

</header>
<body>
<!--header section-->
<header id="header">

</header>
<div style="display: none" id="query">{{query}}</div>
<!--header section end-->
<div class="container">
<div class="row">
    <div class="col-lg-3 col-sm-12">
        <h4 class="title">Sub-Categories</h4>
        <ul class="subCategories">

        </ul>
    </div>
    <div class="col-lg-9 col-sm-12">
<!--        top-->
        <div id="" style="height: fit-content">
            <div class="item-cat" style="height: 100%">
                    <h3>Top</h3>

                    <div id="top" class="carousels slick-responsive">


                    </div>

                    </div>

            </div>
<!--popular-->
        <div id="" style="height: fit-content">
            <div class="item-cat" style="height: 100%">
                <h3>Popular</h3>

                <div id="popular" class="carousels slick-responsive">


                </div>

            </div>

        </div>
<!--            owl carousel here-->
        </div>

    </div>
</div>
</div>



<script type="text/javascript" src="/js/jquery-3.2.1.min.js"></script>
<script src="/js/popper.min.js"></script>
<script src="/js/perfect-scrollbar.jquery.min.js"></script>
<script src="/js/bootstrap-material-design.min.js"></script>
<script src="/js/material-dashboard.js?v=2.1.1" type="text/javascript"></script>
<script src="/js/slick.min.js"></script>

<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD9hUpipwWmIJyWcbpRCRmUDRwD0oZ24g4">


</script>
<!--<script src="js/templateBuilders/template.js" type="module"></script>-->
<script src="/js/categories.js" type="module"></script>
<script type="text/javascript" src="/js/nav.js"></script>



</body>
<footer>

</footer>
</html>