<html lang="en" class="perfect-scrollbar-on">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <link rel="stylesheet" href="/stylesheets/datatables.min.css">
<!--    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">-->
    <link rel="stylesheet" href="/stylesheets/vendors.css">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons">
    <link rel="stylesheet" href="/stylesheets/material-dashboard.css?v=2.1.1">


    <title>Dashboard</title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />

</head>
<header>

</header>
<body class="">
<div style="display: none">
<form action="" id="logoForm" >
<input name="logo" type="file" hidden id="logoInput">
</form>
<form action="" id="bannerForm">
    <input name="banner" type="file" hidden id="bannerInput">
</form>
</div>
    <div class="container">

</div>
<div class="wrapper">
<div class="sidebar">

<div class="sidebar-wrapper">
    <div class="container">
        <img id="logo" src="/business/logo?businessId={{businessId}}" alt="">
    </div>

    <ul class="nav">
        <li id="addItems" class="nav-item">
            <a class="nav-link" href="#">
                <i class="material-icons">library_add</i>
                <p>Add Item</p>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="">
                <i class="material-icons">redeem</i>
                <p>Run Promo</p>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="">
                <i class="material-icons">settings</i>
                <p>Account Settings</p>
            </a>
        </li>
        <li id="locationSettings" class="nav-item">
            <a class="nav-link" href="#">
                <i class="material-icons">edit_location</i>
                <p>Location Settings</p>
            </a>
        </li>

        <li id="logOut" class="nav-item">
            <a class="nav-link" href="">
                <i class="material-icons">settings_power</i>
                <p>Log out</p>
            </a>
        </li>




    </ul>
</div>
</div>
<div class="main-panel">
    <nav class="navbar navbar-expand-lg navbar-transparent">
        <div class="container-fluid">
            <div class="navbar-wrapper">
                <a class="navbar-brand" href="#">{{greeting}}</a>
            </div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
                <span class="sr-only">Toggle navigation</span>
                <span class="navbar-toggler-icon icon-bar"></span>
                <span class="navbar-toggler-icon icon-bar"></span>
                <span class="navbar-toggler-icon icon-bar"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end">
                <form class="navbar-form">
                    <div class="input-group no-border">
                        <input type="text" value="" class="form-control" placeholder="Search...">
                        <button type="submit" class="btn btn-white btn-round btn-just-icon">
                            <i class="material-icons">search</i>
                            <div class="ripple-container"></div>
                        </button>
                    </div>
                </form>
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="#pablo">
                            <i class="material-icons">dashboard</i>
                            <p class="d-lg-none d-md-block">
                                Stats
                            </p>
                        </a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="material-icons">notifications</i>
                            <span class="notification" id="notificationCount" style="display: none"></span>
                            <p class="d-lg-none d-md-block">
                                Some Actions
                            </p>
                        </a>
                        <div id="notifications" class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">

                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link" href="#pablo" id="navbarDropdownProfile" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="material-icons">person</i>
                            <p class="d-lg-none d-md-block">
                                Account
                            </p>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownProfile">
                            <a class="dropdown-item" href="#">Profile</a>
                            <a class="dropdown-item" href="#">Settings</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Log out</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div id="banner" style="overflow: hidden;max-height: 300px;min-height: 255px;background-image: url('/business/banner?businessId={{businessId}}');background-color: rgba(255,255,255,0.7);" class="banner">

        <h75 style="font-size: 96px;color: white" id="businessName">{{businessName}}</h75>


    </div>
    <div class="container">
    <div class="row">
        <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="card card-stats">
                <div class="card-header card-header-warning card-header-icon">
                    <div class="card-icon">
                        <i class="material-icons">content_copy</i>
                    </div>
                    <p class="card-category">processed orders</p>
                    <h3 class="card-title" id="orderCount">
                        0
                    </h3>
                </div>
                <div class="card-footer">
                    <div class="stats">
                        <i class="material-icons text-danger">warning</i>
                        <a href="#pablo">See orders below</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="card card-stats">
                <div class="card-header card-header-success card-header-icon">
                    <div class="card-icon">
                        <i class="material-icons">store</i>
                    </div>
                    <p class="card-category">Stock</p>
                    <h3 class="card-title" id="itemsCount">$0 </h3>

                </div>
                <div class="card-footer">
                    <div class="stats">
                        <i class="material-icons">date_range</i>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="card card-stats">
                <div class="card-header card-header-danger card-header-icon">
                    <div class="card-icon">
                        <i class="material-icons">info_outline</i>
                    </div>
                    <p class="card-category">Pending Orders</p>
                    <h3 class="card-title">0</h3>
                </div>
                <div class="card-footer">
                    <div class="stats">
                        <i class="material-icons">local_offer</i> see orders table
                    </div>
                </div>
            </div>
        </div>

    </div>
    </div>
<!--    items for sale-->
    <div class="container">
    <div class="card" rel="items" style="overflow-x: scroll">

    <div style="width: fit-content" class="card-header card-header-primary">
        <h3>Items for Sale</h3>

    </div>
    <div class="card-body">
        <table id="itemsTable" class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
            <thead>
            <tr>
                <th class="th-sm">Product Id
                </th>
                <th class="th-sm">Name
                </th>
                <th class="th-sm">Category
                </th>
                <th class="th-sm">Barcode
                </th>
                <th class="th-sm">Price
                </th>
                <th class="th-sm">Description
                </th>
                <th class="th-sm">Deliverable
                </th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody id="itemsTableBody">


            </tbody>
            <tfoot>

            </tfoot>
        </table>

    </div>
    </div>
    </div>

<!--    orders-->
    <div class="container">
<div class="card">
    <div style="width: fit-content" class="card-header-primary">
        <h3>Orders</h3>
    </div>
    <div class="card-body" style="overflow-x: scroll">
        <table id="ordersTable" class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
            <thead>
            <tr>
                <th class="th-sm">Product
                </th>
                <th class="th-sm">Name
                </th>
                <th class="th-sm">Quantity
                </th>
                <th class="th-sm">Price
                </th>
                <th class="th-sm">Number
                </th>
                <th class="th-sm">Order Made
                </th>
                <th class="th-sm">Status</th>
                <th class="th-sm">Action</th>

            </tr>
            </thead>
            <tbody id="ordersTableBody">


            </tbody>
            <tfoot>

            </tfoot>
        </table>

    </div>
    </div>
</div>
<!--    settings-->

    <div class="container">
        <div class="card" rel="items">

            <div style="width: fit-content" class="card-header card-header-primary">
                <h3>Settings</h3>

            </div>
            <div class="card-body">
                <div class="row">
                <h3 class="subtitle">General</h3>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <ul class="form-stuff">
                            <li><h5 id="type" type="text" class="accountinfo form-control" name="email"></h5></li>
                            <li><i class="material-icons">create</i></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <ul class="form-stuff">
                                <li><h5 id="type" type="text" class="accountinfo form-control" rel="name"></h5></li>
                                <li><i class="material-icons">create</i></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <ul class="form-stuff">
                                <li><h5 id="type" type="text" class="accountinfo form-control" rel="ss "></h5></li>
                                <li><i class="material-icons">create</i></li>
                            </ul>
                        </div>
                    </div>

                </div>
                <div class="row">
                    <h3 class="subtitle">Location</h3>
                </div>

                <div class="row">
                    <div class="col-lg-6">
                        <div style="height: 500px;width: 500px" class="modal-body">
                            <div style="height: 20%" class="row">
                                <div class="col-sm-6">
                                    <label for="lat">Latitude</label>
                                    <input name="lat" type="text" class="form-control">
                                </div>
                                <div class="col-sm-6">
                                    <label for="long">Longitude</label>
                                    <input name="long" type="text" class="form-control">
                                </div>

                            </div>
                            <div style="height: 70%;width:100%" id="map">

                            </div>
                        </div>
                        <button id="geoLocate" type="button" class="btn btn-primary">Auto Locate</button>
                        <button id="saveLocation" type="button" class="btn btn-primary">Save changes</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

                    </div>



                </div>

            </div>
        </div>
    </div>
</div>
</div>

<!--settings-->


<input type="file" id="uploadImage" hidden>
<!--modals-->
<div id="addItemModal" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add Item</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="uploadImage" style="text-align: center">

                    <img id="triggerUpload" style="width: 100px;height: 100px" src="/images/add_photo.png" accept="image/x-png,image/gif,image/jpeg" alt="">
                </div>
                <hr>
                <form action="" id="addItemForm" enctype="multipart/form-data">

                    <input hidden name="productId" type="text" id="productId">

                <div class="row">
                    <div class="col-md-5">
                        <div class="form-group">
                            <label class="bmd-label-floating">Quantity</label>
                            <input required placeholder="-1 for readily available" id="productId" type="number" class="form-control" name="quantity">
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="form-group">
                            <label class="bmd-label-floating">Product Name</label>
                            <input required id="name" type="text" class="form-control" name="productName">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="bmd-label-floating">Barcode</label>
                            <input required id="Barcode" type="text" class="form-control" name="barcode">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="bmd-label-floating">Category</label>
                            <select class="form-control" name="category" id="categories"></select>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="bmd-label-floating">Currency</label>
                            <select class="form-control" name="currency" id="currencies"></select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-5">
                        <div class="form-group">
                            <label class="bmd-label-floating">Price</label>
                            <input required id="price" type="number" class="form-control" name="price">
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="form-group">
                            <label class="bmd-label-floating">Deliverable</label>
                            <select class="form-control" name="deliverable" id="deliverable">
                                <option value=0>No</option>
                                <option value=1>Yes</option>
                            </select>
                        </div>
                    </div>
                </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="bmd-label-floating">Label/Tag</label>
                                <input required id="type" type="text" class="form-control" name="type">
                            </div>
                        </div>
                    </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="bmd-label-floating">Description</label>
                            <textarea required id="description" type="text" class="form-control" name="description"></textarea>
                        </div>
                    </div>
                </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="bmd-label-static">Attributes</label>
                                <input placeholder="Enter attributes eg color, size separated by ';' " id="attrs_input" type="text" class="form-control" name="attrs">

                            </div>
                        </div>

                    </div>

                    <div class="row container">
                        <ul class="attr_row_action">
                            <li class="icon"><i class="material-icons" id="minus">remove</i></li>
                            <li class="icon"><i class="material-icons" id="plus">add</i></li>
                        </ul>
                    </div>
                    <div class="row">
                        <table id="attrs" class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">

                            <thead>
                            <tr class="attr_columns">

                            </tr>
                            </thead>
                            <tbody id="attrs_table_body">


                            </tbody>

                        </table>
                    </div>

                    <div class="modal-footer">
                        <div class="loader"></div>
                        <button id="addItem" type="submit" class="btn btn-primary">Save changes</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </form>

            </div>

        </div>
    </div>
</div>

<!--location modal-->

<div id="locationModal" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Select Location</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>


        </div>
    </div>
</div>





<!--end modals-->
<script type="text/javascript" src="/js/jquery-3.2.1.min.js"></script>
<script src="/js/popper.min.js"></script>
<script src="/js/perfect-scrollbar.jquery.min.js"></script>
<script src="/js/bootstrap-material-design.min.js"></script>
<script src="/js/material-dashboard.js?v=2.1.1" type="text/javascript"></script>

<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD9hUpipwWmIJyWcbpRCRmUDRwD0oZ24g4">


</script>
<script src="/js/business.js" type="module"></script>
<script src="/js/clientmodules/product_attributes.js" type="module"></script>
<script type="text/javascript" src="/js/datatables.min.js"></script>


</body>
<footer>

</footer>
</html>