<!DOCTYPE html>
<html>
<head>
    <title></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<h1>argument callback must be a function when provided</h1>
<h2></h2>
<pre>TypeError: argument callback must be a function when provided
    at Function.createQuery (C:\Users\User\WebstormProjects\the agora project\node_modules\mysql\lib\Connection.js:57:13)
    at Connection.query (C:\Users\User\WebstormProjects\the agora project\node_modules\mysql\lib\Connection.js:181:26)
    at Object.addToCart (C:\Users\User\WebstormProjects\the agora project\modules\dbOps\usersDbOp.js:94:16)
    at C:\Users\User\WebstormProjects\the agora project\routes\users.js:115:14
    at Layer.handle [as handle_request] (C:\Users\User\WebstormProjects\the agora project\node_modules\express\lib\router\layer.js:95:5)
    at next (C:\Users\User\WebstormProjects\the agora project\node_modules\express\lib\router\route.js:137:13)
    at Route.dispatch (C:\Users\User\WebstormProjects\the agora project\node_modules\express\lib\router\route.js:112:3)
    at Layer.handle [as handle_request] (C:\Users\User\WebstormProjects\the agora project\node_modules\express\lib\router\layer.js:95:5)
    at C:\Users\User\WebstormProjects\the agora project\node_modules\express\lib\router\index.js:281:22
    at Function.process_params (C:\Users\User\WebstormProjects\the agora project\node_modules\express\lib\router\index.js:335:12)</pre>

</body>
</html>
