<!DOCTYPE html>
<html lang="zxx">
<head>
    <title>Vendnbuy</title>
    <meta charset="UTF-8">
    <!--	<meta name="description" content=" Divisima | eCommerce Template">-->
    <!--	<meta name="keywords" content="divisima, eCommerce, creative, html">-->
    <!--	<meta name="viewport" content="width=device-width, initial-scale=1.0">-->
    <!-- Favicon -->
    <link href="img/favicon.ico" rel="shortcut icon"/>

    <!-- Google Font -->


    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons">

    <!-- Stylesheets -->
<!--    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css"/>-->
    <!-- CSS only -->
<!--    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">-->
    <link rel="stylesheet" href="/stylesheets/material-dashboard.css">
    <link rel="stylesheet" href="/stylesheets/font-awesome.min.css"/>
    <link rel="stylesheet" href="/stylesheets/flaticon.css"/>
    <link rel="stylesheet" href="/stylesheets/slicknav.min.css"/>
    <link rel="stylesheet" href="/stylesheets/jquery-ui.min.css"/>
    <link rel="stylesheet" href="/stylesheets/owl.carousel.min.css"/>
    <link rel="stylesheet" href="/stylesheets/animate.css"/>
    <link rel="stylesheet" href="/stylesheets/visma.css"/>


    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body>
<!-- Page Preloder -->
<div id="preloder">
    <div class="loader"></div>
</div>
<input id="variationId" type="hidden">
<!-- Header section -->
<header id="header" class="header-section">

</header>
<!-- Header section end -->

<div id="productDetails" style="display: none">{{product}}</div>



<!-- product section -->
<section class="product-section">
    <div class="container">

        <div class="row">
            <div  class="col-lg-4">
                <div class="product-pic-zoom">
                    <img style="border-radius: 3px;" id="productImage" class="product-big-img" src={{imageurl}} alt="">
                </div>
                <div class="product-thumbs" tabindex="1" style="overflow: hidden; outline: none;">
<!--                    <div class="product-thumbs-track">-->
<!--&lt;!&ndash;                        <div class="pt active" data-imgbigurl=><img src= alt=""></div>&ndash;&gt;-->
<!--&lt;!&ndash;                        <div class="pt" data-imgbigurl="img/single-product/2.jpg"><img src="img/single-product/thumb-2.jpg" alt=""></div>&ndash;&gt;-->
<!--&lt;!&ndash;                        <div class="pt" data-imgbigurl="img/single-product/3.jpg"><img src="img/single-product/thumb-3.jpg" alt=""></div>&ndash;&gt;-->
<!--&lt;!&ndash;                        <div class="pt" data-imgbigurl="img/single-product/4.jpg"><img src="img/single-product/thumb-4.jpg" alt=""></div>&ndash;&gt;-->
<!--                    </div>-->
                </div>
            </div>
            <div class="col-lg-5 product-details">
                <div class="name-section">
                <h2 class="product_title" id="name"></h2>
                    <p class="description"></p>
                    <hr>
                </div>
                <div class="attributes">


                </div>
                <div class="quantity">
                    <div class="pro-qty">
                        <input id="q_input" type="text" value="1">
                        </div>
                </div>
                <div class="row">
                    <div class="col-lg-4">
                        <h4 class="p-stock">Available: <span id="stock"></span> <span>In Stock</span></h4>
                        <h4 class="p-stock">Deliverable: <span id="deliverable"></span></h4>
                        <div class="payment-list">
                            <h3 class="p-stock">Payment Options: <span><img height="35px" src="/images/cashondelivery.png" alt=""> </span>

                                <span><img height="35px" src="/images/visa.png" alt=""> </span>
                            </h3>

                        </div>
                </div>
                    <div class="col-lg-8">
                        <h3 class="p-price">Price: <span id="currency">K</span> <span id="price"></span></h3>
                        <a href="#" id="addtocart" class="site-btn">Add to Cart</a>
                        <a href="#" class="site-btn buy">Buy It Now</a>
                    </div>


                </div>




<!--                <a href="#" class="site-btn">Add to Cart</a>-->
<!--                <a href="#" class="site-btn buy">Buy It Now</a>-->

<!--                <div class="social-sharing">-->
<!--                    <a href=""><i class="fa fa-google-plus"></i></a>-->
<!--                    <a href=""><i class="fa fa-pinterest"></i></a>-->
<!--                    <a href=""><i class="fa fa-facebook"></i></a>-->
<!--                    <a href=""><i class="fa fa-twitter"></i></a>-->
<!--                    <a href=""><i class="fa fa-youtube"></i></a>-->
<!--                </div>-->
            </div>
            <div class="col-lg-3 product-details seller-info">
                <h4 class="p-stock">Business Name: <span class="vendorname"></span></h4>
                <h4 class="p-stock">Deliverable: <span id="deliverable"></span></h4>
                <div class="rating">
                <span class="fa fa-star-o"></span>
                <span class="fa fa-star-o"></span>
                <span class="fa fa-star-o"></span>
                <span class="fa fa-star-o"></span>
                <span class="fa fa-star-o"></span>
                    <span class="p-stock" id="reviews"><a href=""><span id="count"></span> reviews</a></span>
                    
                </div>
                <button class="btn follow">Follow</button>
            </div>
        </div>
    </div>
</section>
<!-- product section end -->


<!-- RELATED PRODUCTS section -->
<section class="related-product-section">

</section>
<!-- RELATED PRODUCTS section end -->



<!-- Footer section -->

<!-- Footer section end -->

<section class="footer-section">
    <div class="container">


    </div>

    <div class="social-links-warp">

        <div class="container">
            <div class="footer-logo text-center">
                <a href="/"><img src="/img/logo_s.png" alt=""></a>
            </div>
            <div class="social-links text-center">
                <a href="https://www.instagram.com/vendnbuy/" class="instagram"><i class="fa fa-instagram"></i><span>instagram</span></a>
<!--                <a href="" class="google-plus"><i class="fa fa-google-plus"></i><span>g+plus</span></a>-->
<!--                <a href="" class="pinterest"><i class="fa fa-pinterest"></i><span>pinterest</span></a>-->
                <a href="" class="facebook"><i class="fa fa-facebook"></i><span>facebook</span></a>
                <a href="" class="twitter"><i class="fa fa-twitter"></i><span>twitter</span></a>

<!--                <a href="" class="tumblr"><i class="fa fa-tumblr-square"></i><span>tumblr</span></a>-->
            </div>

            <p class="text-white text-center mt-5">Copyright ©<script type="text/javascript" async="" src="https://www.google-analytics.com/analytics.js"></script><script>document.write(new Date().getFullYear());</script> All rights reserved</p>

        </div>
    </div>
</section>

<!--====== Javascripts & Jquery ======-->
<script src="/js/jquery-3.2.1.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/jquery.slicknav.min.js"></script>
<script src="/js/owl.carousel.min.js"></script>
<script src="/js/jquery.nicescroll.min.js"></script>
<script src="/js/jquery.zoom.min.js"></script>
<script src="/js/jquery-ui.min.js"></script>
<script src="/js/main.js"></script>
<script src="/js/nav.js"></script>
<script type="module" src="/js/product.js"></script>

</body>
</html>
