html{
	height: 100%;
	font-family: 'HelveticaNeue-Light', serif;
	/*background: url(/images/bl.jpg) no-repeat center center fixed;*/
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

button {
	background: #ec105a;
	color: white;
}
h2{
	color: #ec105a;
	font-size: xx-large;
	font-family: Arial;
}